# Usado pelo Functions Framework para executar a função
functions-framework==3.*

# Usado para fazer chamadas HTTP para o serviço de scraper
requests==2.*

# Usado para autenticação com serviços do Google Cloud (Cloud Run)
google-auth==2.*
google-auth-httplib2==0.*
google-auth-oauthlib==1.*

# Usado para interagir com o Firestore (para system_logs)
firebase-admin==6.*
